.start-screen {
    background-color: rgb(12, 16, 27);
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    position: relative;


}

.start-img {
    height: 100vh;
    width: 100vw;
    object-fit: contain;
}

.start-button {
    height: auto;
    width: 15vw;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, 70%);
    cursor: pointer;

    &:hover {
        filter: brightness(1.25);

    }
}


@media (max-width: 960px) {
    .start-header {
        top: 8vh;
        font-size: 50px;
        color: rgb(108, 108, 108);
    }
    .start-img{
        height: 65vh;
        width: 110vw;
        margin-top: auto;
        margin-bottom: auto;
        object-fit: cover;
        transform: translate(5vw,0);
    }
    .start-button {
        width: 60vw;
        transform: translate(-50%, 50%);
    }
    .start-screen {
        overflow: hidden;
    }
}