<!-- players -->
<div *ngIf="!gameOver" class="position-players">
    <app-player *ngFor="let player of game.players; let i = index" 
 [playerActive]="i == game.currentPlayer" 
 [name]="player" [imageResult]="game.imageResults[i]" 
 (click)="editPlayer(i)"
 ></app-player>
</div>

<!-- game over screen -->
<div class="game-over" *ngIf="gameOver">
    <img (click)="newGameAfterOver()" src="assets/img/game_over.jpg">
</div>

<!-- game-field -->
<div *ngIf="!gameOver" class="game-field">
    <!-- card-stack undrawn -->
    <div class="card-stack">
        <img [ngStyle]="{'left.px': 50 - (i * i)}" *ngFor="let c of [0, 1, 2, 3, 4]; 
        let i = index" src="assets/img/cards/card_cover.png">
        <img (click)="takeCard()"  class="top-card" style="left: 26px;" src="assets/img/cards/card_cover.png">
    </div>
    <!-- card-stack drawn -->
    <div class="played-cards-stack">
        <img *ngFor="let card of game.playedCards; let i = index"  
        [ngStyle]="{'transform': 'rotate(' + game.randomCardTurn[i] + 'deg)' + 'scale(1.2)'}"
        class="played-card" src="assets/img/cards/{{ card }}.png">
    </div>
    <!-- card draw animation -->
    <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" src="assets/img/cards/{{ game.currentCard }}.png">
</div>

<!-- preload image -->
<img class="preload-image" src="assets/img/cards/{{ game.stack[game.stack.length - 1] }}.png">

<!-- add player button -->
<button *ngIf="!gameOver"  mat-fab color="primary" (click)="openDialog()" class="button-add">
    <mat-icon>add</mat-icon>
</button>
<app-game-info *ngIf="!gameOver" [card]="game.currentCard" class="pin-bottom"></app-game-info>

<!-- add player alert when no player is in the game / for fun build with bootstrap -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalVerticalTitle">ADD PLAYER</h4>
                <button type="button" (click)="closePopup()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You have to add a player!!!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closePopup()">Close</button>
            </div>
        </div>
    </div>
</div>                 


